<?xml version="1.0" encoding="UTF-8"?>
<phpunit
colors="false"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
stopOnFailure="true">
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">	
    <directory suffix=".php" phpVersion="5.6.0">../login/</directory>
    <directory suffix=".php">../UserClass/</directory>
    <directory suffix=".php">../Transaction/</directory>
    <directory suffix=".php">../account/</directory>
    <exclude>     
    </exclude>
  </whitelist>
</filter>
</phpunit>
